{% extends "FrontendBundle::layout.html.mobi.twig" %}

{% block title 'Evolta :: Acceso usuarios' %}
{% block pageid 'acceso-usuarios' %}

{% block acceso_usuario%}
{% endblock %}

{% block main %}
<article>
    
    <h1>Acceso usuarios</h1>
    
    <form id="form-login" method="post" action="http://www.atm.neway.es/atm_construction/">
        
        <p>
            <label>Empresa</label>
            <input type="text" tabindex="1" class="textinput" name="company" size="15">
        </p>
        <p>
            <label>Usuario</label>
            <input type="text" tabindex="2" class="textinput" name="username" size="15">
        </p>
        <p style="margin-bottom: 0.25em;">
            <label>Contraseña</label>
            <input type="password" tabindex="3" class="textinput" name="password" size="15">
        </p>
        <p style="margin-bottom: 0;">
            <input id="submit_button" type="submit" tabindex="4" name="iniciar" value="Iniciar sesión">
        </p>

    </form>
    
</article>
{% endblock %}
