{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Aseguradoras' %}
{% block pageid 'aseguradoras' %}

{% block main %}
<article id="aseguadoras">
    <h1>Aseguradoras</h1>
    <p>En construcción</p>
</article>
{% endblock %}
