{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Aseguradoras' %}
{% block pageid 'aseguradoras' %}

{% block main %}
<article>
    
    <h1>Aseguradoras</h1>
    
    {% include 'FrontendBundle:Default:aseguradoras_contenido.html.twig' %}

</article>
{% endblock %}
