{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Comunidades' %}
{% block pageid 'comunidades' %}

{% block main %}
<article>
    
    <h1>Comunidades</h1>
    
    {% include 'FrontendBundle:Default:comunidades_contenido.html.twig' %}
    
</article>
{% endblock %}
