{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Contacto' %}
{% block pageid 'contacto' %}

{% block main %}
<article id="contacto">
    <h1>General</h1>
    <p>Para cualquier cuestión: solicitud de información, presupuestos, facturación, estado de un trabajo... </p>
    <p><a target="_blank" href="administracion@evolta.es">administracion@evolta.es</a></p>

    <h1>Empresas</h1>
    <p>Servicio a nuestros clientes relacionado con el mantenimiento y trabajos que se esten llevando a cabo en sus inmuebles</p>
    <p><a target="_blank" href="empresas@evolta.es">empresas@evolta.es</a></p>

    <h1>comunidades</h1>
    <p>Todo lo relacionado con las comunidades, tanto de trabajos encargados o que se estén ejecutando, como de presupuestos o facturas</p>
    <p><a target="_blank" href="comunidades@evolta.es">comunidades@evolta.es</a></p>
</article>
{% endblock %}
