{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Contacto' %}
{% block pageid 'contacto' %}

{% block main %}
<article>
    
    <h1>Contacto</h1>
    
    {% include 'FrontendBundle:Default:contacto_contenido.html.twig' %}
    
</article>
{% endblock %}
