{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Nosotros' %}
{% block pageid 'nosotros' %}

{% block main %}
<article id="nosotros">
    <h1>Evolta Gestión de Servicios</h1>
    <p>Empresa dedicada a la rehabilitación, mejora y mantenimiento de:<br />
    <ul><br />
        <li>Comunidades y Viviendas</li>
	<li>Locales, Oficinas y Naves Industriales</li>
	<li>Edificios Públicos</li>
	<li>Urbanizaciones y Polígonos Industriales</li>
	<li>Hoteles</li>
	<li>Garajes</li>
    </ul>
    </p>
    
    <p>Comprometidos con el cliente desde el primer contacto hasta la finalización de los trabajos. Ofreciendo la mejor atención, un completo asesoramiento y llevando un seguimiento exhaustivo de los trabajos. Siempre trabajando para el beneficio de nuestros clientes</p>
    <br />   
    <p>Responsabilizados con el compromiso adquirido hacia el cliente, con nuestra labor como profesionales encargados de velar por una buena ejecución y terminación del trabajo, cumpliendo con todas las garantías de calidad y normativas vigentes</p>
    <br />
    <p>Garantizamos el trabajo gracias a los mejores profesionales en cada gremio:<br />
    <ul><br />
        <li>Fontanería, Desatascos y Pocería</li>
        <li>Albañilería y Pladur</li>
        <li>Pintura y alta decoración</li>
        <li>Parquet, Tarimas naturales y Suelos laminados</li>
        <li>Electricidad baja y media tensión</li>
        <li>Cerrajería Metálica</li>
        <li>Carpintería Madera, Aluminio, PVC</li>
        <li>Telecomunicaciones, Antenas, Porteros y Videoporteros automáticos</li>  
    </ul>
    </p>

    <p>
    <br />
    <h3><a href="{{ path('staticpage', { 'page': 'legal'}) }}">Política de Privacidad</a></h3>
    </p>
</article>
{% endblock %}
