{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: General' %}
{% block pageid 'general' %}

{% block main %}
<article>
    
    <h1>Evolta Gestión de Servicios</h1>
    
    {% include 'FrontendBundle:Default:general_contenido.html.twig' %}
    
</article>
{% endblock %}
