{% extends "FrontendBundle::layout.html.twig" %}

{% block pageid 'home' %}

{% block main %}
<article id="home">
    <a href="{{ path('staticpage', { 'page': 'general'}) }}" alt="Evolta Gestión de Servicios">
        <img id="image_home" src="/images/evolta_slogan.png"/>
    </a>
</article>
{% endblock %}
