{% extends "FrontendBundle::layout.html.twig" %}

{% block pageid 'home' %}

{% block main %}
<article id="home">
    <h1>Evolta Gestión de Servicios</h1>
    <p>Empresa dedicada a la mejora y mantenimiento de viviendas, locales, naves y edificios en el Corredor del Henares y la provincia de Guadalajara</p>
    <p>Garantizando el trabajo gracias a los mejores profesionales en cada gremio: fontanería, albañilería, pintura, electricidad, cerrajería, carpintería...</p>
    <p>Comprometidos con el cliente desde el primer contacto hasta la finalización de los trabajos. Ofreciendo la mejor atención y llevando un seguimiento exhaustivo: siempre trabajando por nuestros clientes</p>
    <p>Responsabilizándonos del compromiso adquirido hacia el cliente, de nuestra labor como profesionales encargados de velar por una buena ejecución y terminación del trabajo</p>
</article>
{% endblock %}
