<div id="login-container">
{#<div id="login-container" class="hover-login">#}

    <a id="link-acceso-usuarios" href="http://www.atm.neway.es/atm_construction/">Acceso Usuarios <span class="hide">X</span></a>

    <div id="form-login" class="hide">
        <form method="post" action="http://www.atm.neway.es/atm_construction/">
            <p>
                Empresa<br/>
                <input type="text" tabindex="1" class="textinput" name="company" size="15">
            </p>
            <p>
                Usuario<br/>
                <input type="text" tabindex="2" class="textinput" name="username" size="15">
            </p>
            <p style="margin-bottom: 0.25em;">
                Contraseña<br>
                <input type="password" tabindex="3" class="textinput" name="password" size="15">
            </p>
            <p style="margin-bottom: 0;">
                <input type="submit" tabindex="4" style="float:right;" name="iniciar" value="Iniciar sesión">
            </p>

        </form>
    </div>

</div>