{% extends "FrontendBundle::layout.html.twig" %}

{% block title 'Evolta :: Particulares' %}
{% block pageid 'particulares' %}

{% block main %}
<article>
    
    <h1>Particulares</h1>
    
    {% include 'FrontendBundle:Default:particulares_contenido.html.twig' %}
    
</article>
{% endblock %}
