@charset "UTF-8";

@media screen and (max-width: 320px)
{
    body { font-size:22px; }
    #link-acceso-usuarios {font-size:22px}

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}

@media screen and (min-width: 321px) and (max-width: 480px) and (orientation:portrait)
{
    body { font-size:20px; }
    #link-acceso-usuarios {font-size:20px}
    
    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left; }
}
@media screen and (min-width: 321px) and (max-width: 480px) and (orientation:landscape)
{
    body { font-size:16px; }
    #link-acceso-usuarios {font-size:16px}
    
    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left; }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation:portrait)
{
    body { font-size:18px; }
    #link-acceso-usuarios {font-size:18px}
    
    div.container div.main { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:10px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation:landscape)
{
    body { font-size:16px; }
    #link-acceso-usuarios {font-size:16px}
    
    div.container div.main { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}

/* ipad */  
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation:portrait)
{
    body { font-size:18px; }
    #link-acceso-usuarios {font-size:18px}
    
    div.container div.main { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:10px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation:landscape)
{
    body { font-size:16px; }
    #link-acceso-usuarios {font-size:16px}
    
    div.container div.main { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}
