@charset "UTF-8";
/* 52framework CSS Framework for Mobile Devices */


@media screen and (max-width: 320px)
{
    body { font-size:0.8em; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}

@media screen and (min-width: 321px) and (max-width: 480px)
{
    body { font-size:0.8em; }
    
    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
    body { font-size:0.8em; }
    
    div.container div.main      { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { float:right; text-align:right; line-height:1em; }
    footer#footer #contactinfo { float:right; text-align:right; }

    footer#footer nav.menu ul li { padding:5px; display:list-item; border-right:0; border-left:1px dotted; }
    footer#footer nav.menu ul { margin:0 0 30px; text-align:left;  }
}

/* ipad */  
@media screen and (min-width: 769px) and (max-width: 1024px)
{
    body { font-size:0.8em; }
    
    div.container div.main      { min-height:300px; }

    #login-container.hover-login { border:1px solid #666; }
    
    footer#footer #companyinfo { line-height:1em; }

    footer#footer nav.menu ul { margin-bottom:30px; }
}
